
.fondo{
    background-color: rgba(177, 80, 223, 0.644);   
}
#center{
    padding-left: 20%;
}
#nom-ape{
    color: black;
    padding-left: 30%;
    padding-top: 8%;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    font-size: xx-large;
    
}
#fdn_ln{/**Este es la fecha de nacimiento y lugar de nacimiento*/
    color: black;
    padding-left: 30%;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: small;
    
    
    
}
#idioma{
    padding: 3px;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    float: right;
    margin-right: 25px;
    font-size: small;
    background-color: rgba(87, 41, 109, 0.644);
    

}
#fila{
    padding-left: 40%;
    padding-top: 5%;
    color: black;
    font-size: larger;

}
#img {
        float: left;
        padding-left: 5%;
        border-radius: 250px;
      }
* {
    font-family: 'Roboto', sans-serif;
    font-size: medium
}

#contactos{
    padding: 3px;
    color: black;
    font-size: small;
    
} 
@media screen and (max-width: 600px) {
    
    #img {
      width: 90px;
    }
    #fila{
        padding-left: 25%;
    }
    #nom-ape{
        font-size: medium;
    }
    #fdn_ln{
        font-size: 13px;
    }
    #idioma{
        background-color: rgba(47, 48, 70, 0.788);
        font-size: 3px;
        font-weight: normal;
        padding: 0px;
        color: rgb(255, 255, 255);
        margin-right: 5px;

    }
    
    #contactos{
        padding: 3px;
        color: black;
        border: 1px solid black;
        border-radius: 12px;
        float: left;
        font-size: small;
        
    }
    #info{
        float: right;
        width: 250px;
        border-radius: 12px;
        border: 1px solid rgb(0, 0, 0);
    }
    #extra{
        float: left;
        width: 250px;
        border-radius: 12px;
        border: 1px solid rgb(0, 0, 0);
    }
    
    #fondo{
        background-color: rgba(167, 168, 228, 0.459);
    }
  }
#estudios{
    margin-top: 2px;
    margin-bottom: 2px;
  }
#margen{
    margin-left: 45px;
}
@media screen and (min-width: 1500px) {
    *{
        font-size: xx-large;
    }
    #img{
        width: 300px;
    }
    #nom-ape{
        font-size: 50px;
    }
    #fdn_ln{
        font-size: xx-large
    }
    #idioma{
        background-color: rgba(76, 109, 75, 0.733);
        margin-right: 45px;
    }
    #fondo{
        background-color: rgb(126, 180, 124, 0.452);
    }
    #hab{
        background-color: rgba(76, 109, 75, 0.733);
        margin-right: 45px; 
    }
}

#hab{
    padding: 3px;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    float: right;
    margin-right: 25px;
    font-size: small;
    background-color: rgba(87, 41, 109, 0.644); 
}

#box{
    box-sizing: border-box;
}

